<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Command Executor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <style>
      #container {
          display: flex;
          flex-direction: column;
          margin: 10px;
      }

      #container div {
          margin-bottom: 10px;
      }

      #container button {
          height: 8vh;
          min-width: 15vw;
      }

    </style>
</head>
<body>
  <div id="container">
    <div>
      <label>gRPC</label>
      <button data-command="systemctl --user status mmwave-grpc-server">Status</button>
      <button data-command="systemctl --user start mmwave-grpc-server">Start</button>
      <button data-command="systemctl --user restart mmwave-grpc-server">Restart</button>
      <button data-command="systemctl --user stop mmwave-grpc-server">Stop</button>
    </div>
    <div>
      <label>📡 Proc</label>
      <button id="cmdButton1" data-command="poetry run mmwavecapture-std configs/init_cascaded_realsense.toml">Init</button>
      <button id="cmdButton3" data-command="./scripts/fetch_latest_from_evm.sh">Fetch</button>
      <button id="cmdButton4" data-command="./scripts/preprocessing_latest.sh">Pre-proc</button>
      <button id="cmdButton5"><a href="#">Post-proc</a></button>
    </div>
    <div>
      <label>📡 Radar</label>
      <button id="cmdButton2" data-command="poetry run mmwavecapture-std configs/cascaded_realsense.toml">Start Recording</button>
    </div>
    <div>
    </div>
    <pre id="output"></pre>
  </div>



  <script>
    var socket = io();

    socket.on('connect', function() {
      console.log('Websocket connected!');
    });

    socket.on('command_output', function(msg) {
      $('#output').append(msg.data);
    });

    $('button').click(function() {
        var command = $(this).data('command');
        socket.emit('execute_command', {command: command});
        $('#output').text(''); // Clear previo
    });
    </script>
</body>
</html>
