    <div>
      <label>gRPC</label>
      <button data-command="systemctl --user status mmwave-grpc-server">Status (1)</button>
      <button data-command="systemctl --user start mmwave-grpc-server">Start (2)</button>
      <button data-command="systemctl --user restart mmwave-grpc-server">Restart</button>
      <button data-command="systemctl --user stop mmwave-grpc-server">Stop</button>
    </div>
    <div>
      <label>Radar</label>
      <button id="cmdButton1" data-command="ping -c 1 192.168.33.150">Check Connection (3)</button>
      <button id="cmdButton1" data-command="poetry run mmwavecapture-std configs/init_cascaded_realsense.toml">Initialize (4)</button>
    </div>
    <pre id="outputtab1"></pre>
