[Unit]
Description=Radar web monitor

[Service]
WorkingDirectory=%c
ExecStart=%p run gunicorn -w 2 "radar_web_monitor:app"

[Install]
WantedBy=default.target
